body{
    font-family: impact;
}
.header {
    animation-name: slidein;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
select {
    height: 36px;
}

    @keyframes slidein {
        from { 
                margin-left : 100%;
                width: 300%
            }

        50% {
            margin-left: 0px;
            width: auto;

        }

        to { 
            margin-top: 200px;
            width: auto;
        }
    }
ul {
    list-style: none;
    display: grid;
    grid-template-columns: 25% 25% 25% ;
    grid-template-rows: auto ;
    justify-content: end;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: auto;
    width: auto;
    margin: 35px;
    border-radius: 10%;
}
li :hover{
    transition-duration: 2s;
    background-color: red;
    background-size: 400%;
    border-radius: 10%;
}
.description {
    visibility: hidden;
    min-width: auto;
}
li :hover ~ p {
    visibility: visible;
}
.image-container {
    min-width: auto;
    min-height: auto;
}

img {
    width : 200px;
    height: auto;
}

